body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive;
    background-color: #ffd6e8;
    position: relative;
    overflow-x: hidden;
  }
  
  .fondo-kitty::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;       /* más grande para poder moverlo */
    height: 200%;
    background-image: url("./HelloKitty.jpg");
    background-size: 120px;
    background-repeat: repeat;
    opacity: 0.12;
    z-index: -1;
    pointer-events: none;
  
    animation: movimientoFondo 60s linear infinite;
  }
  
  
  /* Centrado */
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Corazón */
  .corazon-container {
    width: 400px;
    animation: latido 1.5s infinite;
  }
  
  @keyframes latido {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }
  
  button {
    margin-top: 30px;
    padding: 12px 25px;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: #ff4d88;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    transform: scale(1.1);
  }
  
  .mural-container {
    padding: 80px 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  .titulo-mural {
    text-align: center;
    font-size: 28px;
    margin-bottom: 60px;
    color: #ff4d88;
  }
  
  .mural-item {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
  }
  
  .mural-item img {
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  }

  .nube {
    background: #ffb6d9;
    padding: 25px;
    border-radius: 40px;
    max-width: 400px;
    font-size: 18px;
    color: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    position: relative;
  }
  
  .mural-item.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .btn-siguiente {
    display: block;
    margin: 60px auto;
    padding: 15px 35px;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: #ff4d88;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-siguiente:hover {
    transform: scale(1.1);
  }
  

  @keyframes movimientoFondo {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-5%, -5%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  